* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #f4f3ff;
  --btnn-color: #646cff;
  --dark-color: #242424;
  --helper-color: 99b9ff;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  min-width: 32rem;
  min-height: 100vh;
}

h1 {
  font-size: 5.4rem;
  line-height: 1.1;
  font-weight: bold;
}

li {
  list-style: none;
}

p,
li,
label,
input,
text {
  font-size: 1.8rem;
  line-height: 1.56;
  /* letter-spacing: 01.rem; */
  word-spacing: 0.06rem;
}

a {
  font-weight: 500;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  color: var(--btnn-color);
  text-decoration: inherit;
}

.container {
  max-width: 140rem;
  display: flex;
  justify-content: space-between;
  padding: 34px 30px;
}

.grid {
  display: grid;
  gap: 6.4rem;
}

.grid-two-cols {
  grid-template-columns: repeat(2, 1fr);
  margin: auto;
}

.grid-four-cols {
  grid-template-columns: repeat(4, 1fr);
  margin: auto;
}

button {
  text-transform: capitalize;
  padding: 1rem 2.2rem;
  font-size: 1.7rem;
  font-weight: 500;
  background-color: #FFC55C;
  border-radius: 0.8rem;
  border: 0.1rem solid transparent;
  cursor: pointer;
  letter-spacing: 0.1rem;
  transition: border-color 0.3s;
}

.secondary-btnn {
  background-color: transparent;
  box-shadow: inset 0 0 0 0.2rem #FFC55C;
  margin-left: 3.2rem;
}

button:hover {
  box-shadow: inset 0 0 0 0.2rem black;
}

a:hover,
a:active {
  color: #646cff;
}

.main-heading {
  position: relative;
  text-transform: capitalize;

  &::after {
    content: "";
    position: absolute;
    left: 0%;
    bottom: 0%;
    width: 50%;
    height: 0.5rem;
    background-color: var(--btnn-color);
  }
}

@media(prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;

  }

  a:hover,
  a:active {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

.section-hero {
  & .grid {
    align-items: center;
  }

  .hero-content {
    & p {
      margin: 2.4rem 0 1.8rem 0;

      &:first-child {
        margin: 0 0 1.2rem 0;
      }
    }
  }
}

.hero-image {
  display: flex;
  justify-content: center;

  & img {
    width: 70%;
    height: auto;
  }
}

.section-analytics {
  margin: 9.6rem 0;

  & .container {
    background-color: var(--bg-color);
    border-radius: 1rem;
  }

  & .grid {
    color: var(--dark-color);

    & .div1 {
      text-align: center;
      border-right: 0.2rem solid black;

      &:last-child {
        border: none;
      }

      & h2 {
        font-size: 4.8rem;
        font-weight: bolder;
      }

      & p {
        text-transform: capitalize;
      }
    }
  }
}

.card-footer {
  text-align: center;
}

.section-contact {
  & .contact-contain {
    padding: 0;

    & h1 {
      margin-bottom: 3.2rem;
      margin-left: 3rem;
    }
  }

  & .container {
    padding-top: 3.2rem;
  }

  & .contact-img {
    display: flex;
    justify-content: start;
    align-items: center;

    & img {
      width: 80%;
      height: auto;
    }
  }

  & .section-form {
    & form {
      display: flex;
      flex-direction: column;
      gap: 1.2rem;
    }

    & label {
      display: block;
      margin-bottom: 0.2rem;
      text-transform: capitalize;
    }

    & input,
    textarea {
      width: 80%;
      padding: 0.2rem 0.6rem;
      margin-bottom: 1rem;
    }
  }
}

#error-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  & .container {
    display: block;
  }
}

#error-page .content {
  max-width: 70rem;
  text-align: center;
}

.content h2.header {
  text-transform: uppercase;
  background-image: linear-gradient(-225deg,
      #231557 0%,
      #44107a 29%,
      #ff1361 67%,
      #fff800 100%);
  background-size: auto auto;
  -webkit-background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  font-size: 190px;
}

.content h4 {
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 2rem;
}

.content .btnns {
  margin: 25px 0;
  display: inline-flex;
  justify-content: center;
}

.content .btnns a {
  display: inline-flex;
  margin: 0 10px;
  text-decoration: none;
  border: 2px solid var(--btnn-color);
  color: var(--btnn-color);
  font-weight: 500;
  padding: 10px 25px;
  border-radius: 25px;
}

.content .btnns a:hover {
  background-color: var(--btnn-color);
  color: #fff;
}


@keyframes textclip {
  to {
    background-position: 200% center;
  }
}



.section-registration {
  padding: 0 3.2rem;

  & .container {
    padding-top: 3.2rem;
    align-items: center;

    &img {
      width: 80%;
      height: auto;
    }
  }

  & .registration-form {
    & label {
      display: block;
      margin: 2.4rem 0 0.8rem 0;
      text-transform: capitalize;
    }

    & input {
      width: 80%;
      padding: 0.6rem 0.6rem;

    }

    & button {
      margin-top: 3.2rem;
    }

  }
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 56.25%;
  }
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 56.25%;
  }
}

@media only screen and (max-width: 835px) {
  .grid-two-cols {
    grid-template-columns: repeat(1, 1fr);
  }

  .grid-four-cols {
    grid-template-columns: repeat(1, 1fr);
  }

}